@import "../../../styles/utils.scss";

.signup-container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-grey-200;

    .signup-box{
         width: 50%;
         max-width: 500px;
         background: $color-grey-0; 
         padding: 1rem;  
         display: flex;
         flex-direction: column;
         align-items: center;
         border-radius: 2rem;
         box-shadow: $shadow-lg;

         >h2{
            text-align: center;
            margin: 1rem 0 2rem 0;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: 2rem;
            font-weight: 700;
         }

         .signup-form{
            width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            .form-row{
             width: 100%;
             height: 3rem;
             display: flex;
             align-items: center;
             margin: 1rem 0;
             gap: 1rem;
             border-bottom: 2px solid black;

             >input{
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
                background: transparent;
             }

             >svg{
                font-size: 1.2rem;
             }
            }

            >span{
                align-self: flex-end;
                text-transform: uppercase;
                font-size: 0.9rem;
                font-weight: 500;
                cursor: pointer;
                transition: $transition;

                &:hover{
                    color: $color-blue-700;
                }


            }

            >button{
               width: 90%;
               height: 2.5rem;
               font-size: 1rem;
               margin: 2rem 0 1rem 0;
               cursor: pointer;
               border: none;
               outline: none;
               color: $color-grey-0;
               background-color: $color-blue-hover;
               transition: $transition;
               
               &:hover{
                   background-color: $color-blue-700;
               }
            }
         }

        

         >span{
            margin-top: 2rem;
         }
    }
}

@media screen and (max-width: 850px) {
   .signup-container .signup-box {
     width: 80%;
     max-width: 900px;
   }
 }
 
 @media screen and (max-width:500px) {
    .signup-container .signup-box > h2 {
       font-size: 1.5rem;
   }
 
   .signup-container .signup-box {
    width: 98%;
  }
 }