@import "../../styles/utils.scss";

.allreview-container {
  width: 100%;
  padding: 1rem;
  height: calc(100vh - $navbar-height);
  overflow-y: hidden;
  display: grid;
  grid-template-columns: 35% auto;
  gap: 1.5rem;

  .customer-reviews {
    width: 100%;
    height: 100%;

    .styled-heading {
      font-size: 1.3rem;
      font-weight: 500;
      color: $primary-color;
      margin-bottom: 0.5rem;
    }

    .reviews-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding-inline: 1rem;
      height: 90%;
      overflow-y: auto;

      .review {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 0.4rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid $color-grey-400;
        margin-bottom: 2rem;

        .review-header {
          display: flex;
          gap: 1rem;
          align-items: center;

          .reviewer-name {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;

            .review-star-date {
              display: flex;
              gap: 0.8rem;
              align-items: center;

              .review-star {
                display: flex;
                align-items: center;
                gap: 0.5rem;
              }
            }
          }
        }

        .review-body {
          display: flex;
          flex-direction: column;

          .review-title {
            font-weight: 600;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .allreview-container {
    max-width: 1000px;
    grid-template-columns: 1fr;
    margin-inline: auto;
    height: max-content;
  }
}
